@charset "UTF-8";

.c1 {
	display:inline;
	position: relative;
	box-sizing: content-box;
}

.i1 {
	display: inline-block;
	psoition: relative;
	box-sizing: content-box;
}

.c2 {
	display:inline-block;
	position: relative;
	box-sizing: content-box;
	width: 200px;
	height: 100px;
}

.i2 {
	display: inline-block;
	psoition: relative;
	box-sizing: content-box;
}

.i3 {
	display: inline-block;
	position: relative;
	box-sizing: content-box;
	right: 30px;
}

.i4 {
	display: inline-block;
	position: relative;
	box-sizing: content-box;
	bottom:17px;
	width: 400px; 
	height:400px;
}

.c3 {
	display:inline-block;
	position: relative;
	box-sizing: content-box;
	width: 200px;
	height: 100px;
	left: 20px;
}

.c4 {
	display:inline-block;
	position: relative;
	box-sizing: content-box;
	width: 200px;
	height: 100px;
}

.c5 {
	display:inline-block;
	position: relative;
	box-sizing: content-box;
	width: 200px;
	height: 100px;
	left: 45px;
	bottom: 50px;
}

.c6 {
	display:inline-block;
	position: fixed;
	box-sizing: content-box;
	width: 200px;
	height: 100px;
	right: 0px;
	bottom: -15px;
	border: solid green;
}
* {
	border: solid grey;
}

section {
	border: solid white;
}

body {
	border: solid white;
}

html {
	border: solid white;
}